body {
    background: hsl(0, 100%, 74%)  url(/images/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}



.attribution { 
    bottom: 0;
    position: fixed;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.form-container, .heading {
    padding: 2rem;
}
.main-header {
    max-width: 420px;
    font-size: 3rem;
}
.sub-header {
    max-width: 500px;
}
.main-header, .sub-header {
    color: white;
}

.form-container {

}

.trail{
 background: hsl(248, 32%, 49%);
 box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2)
}
.claim{
background: hsl(154, 59%, 51%);
text-transform: uppercase;
font-weight: 700;
box-shadow: 0 4px 0 0 hsl(154, 59%, 42%)
}

button{
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}
.form-input{
 background: white;
 border-radius: 5px;
 box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2)
}
li{
    list-style-type: none;
  }
  input{
     border-radius: 4px;
     border: 1px solid hsl(246, 25%, 77%); 
  }

  .terms{
      color: hsl(246, 25%, 77%);
  }
  .conditions{
    color:hsl(0, 100%, 74%) 
  }
  .t-c{
      display: flex;
  }